# Excel Data Extraction

Pandas provides a **read_excel** method to read an excel file and convert it to dataframe automatically.  It includes several parameters to customize how we read excel e.g. select sheet, rows to be used as column name, skipping rows, etc.

First we import pandas and name it *pd*

In [1]:
import pandas as pd

Read an excel file without supplying other parameters.  Notice that the column name is incorrect and the first row contains all column names

In [2]:
df = pd.read_excel('agri_landuse.xlsx')

In [3]:
df.head(3)

,การถือครอง และการใช้ประโยชน์ที่ดิน ปีเพาะปลูก 2562/63,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,รายการ,ประเทศ,ภาคเหนือ,ภาคตว.ออกเฉียงเหนือ,ภาคกลาง,ภาคใต้
1,เนื้อที่รวมทั้งหมดของครัวเรือน (ไร่/ครัวเรือน),24.15531,25.022066,21.901518,27.194832,19.729259
2,"""ที่เป็นของตนเอง/ที่มีกรรมสิทธิ์ครอบครองเป็น...",10.103923,8.39825,12.453008,9.115436,10.805322

We inform *read_excel* that the column name should be taken from the second row of the sheet

In [4]:
df = pd.read_excel('agri_landuse.xlsx', header=1)

In [5]:
df.head(3)

,รายการ,ประเทศ,ภาคเหนือ,ภาคตว.ออกเฉียงเหนือ,ภาคกลาง,ภาคใต้
0,เนื้อที่รวมทั้งหมดของครัวเรือน (ไร่/ครัวเรือน),24.155310,25.022066,21.901518,27.194832,19.729259
1,"""ที่เป็นของตนเอง/ที่มีกรรมสิทธิ์ครอบครองเป็น...",10.103923,8.398250,12.453008,9.115436,10.805322
2,"""ที่มีสิทธิ์เข้าทำประโยชน์ แต่ไม่มีกรรมสิทธิ...",4.792751,5.116363,5.310703,3.954487,5.332246

We can choose other sheets in the same file.  Note that sheet_name=0 indicates the first sheet, which is default

In [6]:
df = pd.read_excel('agri_landuse.xlsx', sheet_name=1, header=1)

In [7]:
df.head(3)

,รายการ,เชียงราย,พะเยา,ลำปาง,ลำพูน,เชียงใหม่,แม่ฮ่องสอน,ตาก,กำแพงเพชร,สุโขทัย,...,ระนอง,สุราษฎร์ธานี,พังงา,ภูเก็ต,กระบี่,ตรัง,นครศรีธรรมราช,พัทลุง,สงขลา,สตูล
0,เนื้อที่รวมทั้งหมดของครัวเรือน (ไร่/ครัวเรือน),17.948758,16.188741,16.189016,9.872334,11.376040,11.926803,23.022879,37.137609,35.168335,...,19.290953,31.910710,20.195543,16.407552,29.444500,15.243213,17.627051,12.540044,20.021143,12.689705
1,"""ที่เป็นของตนเอง/ที่มีกรรมสิทธิ์ครอบครองเป็น...",7.058751,7.210534,5.580289,4.725276,3.255079,0.608207,5.622506,11.748964,13.536216,...,9.465070,12.351204,10.116957,15.688802,11.306260,9.119384,10.533855,8.894163,11.699580,7.148202
2,"""ที่มีสิทธิ์เข้าทำประโยชน์ แต่ไม่มีกรรมสิทธิ...",2.781269,2.095081,1.805161,1.743252,1.237600,1.014748,5.885071,13.408903,4.832710,...,4.303533,12.738170,8.641947,0.000000,13.965048,4.588109,3.984584,0.819274,3.772456,1.398091